body {
  font-family: "Overpass", sans-serif;
  font-weight: normal;
  font-size: 100%;
  color: #fe4646;

  margin: 0;
  background-color: #df1010;
}

#contenedor {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

#central {
  max-width: 320px;
  width: 100%;
}

.titulo {
  font-size: 250%;
  color: #fe4646;
  text-align: center;
  margin-bottom: 20px;
}

#login {
  width: 100%;
  padding: 50px 30px;
  background-color: #ffffff;

  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

  box-sizing: border-box;
}

#login input {
  font-family: "Overpass", sans-serif;
  font-size: 110%;
  color: #1f0c0c;

  display: block;
  width: 100%;
  height: 40px;

  margin-bottom: 10px;
  padding: 5px 5px 5px 10px;

  box-sizing: border-box;

  border: none;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
  font-family: "Overpass", sans-serif;
  color: grey;
}

#login button {
  font-family: "Overpass", sans-serif;
  font-size: 110%;
  color: black;
  width: 100%;
  height: 40px;
  border: none;

  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

  background-color: #fe4646;

  margin-top: 10px;
}

#login button:hover {
  background-color: #0f4c75;
  color: grey;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #000000;
  border-radius: 50%;
  border-top: 16px solid #ce1310;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background-color: #000000;
  opacity: 0.8;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
